a {
  text-decoration: none;
}

#spacer {
  background-color: rgba(7, 148, 219, 255);
  border-top: 0.35vh solid black;
  height: 5vh;
  align-self: center;
}

#language {
  width: fit-content;
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: 10;
  flex-direction: column;
}

#spacer-mid {
  height: 10vh;
  background-color: rgba(7, 148, 219, 255);
  opacity: 1;
  background-image: radial-gradient(#000000 1px, rgba(7, 148, 219, 255) 1px);
  background-size: 5px 5px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
#spacer-mid-details {
  height: 5vh;
  background-color: #a52a2a;
  border-bottom: solid 2px black;
}
.nav-section {
  visibility: hidden;
  display: flex;
  align-items: flex-start;
  flex-direction: column-reverse;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 5px;
  top: 12%;
  animation: bounceIn 1s ease-out;
}
.nav {
  --nav-gap: 5px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.nav-item {
  align-items: center;
  display: flex;
  margin-bottom: var(--nav-gap) - 2px;
}

.nav-label {
  color: #000000;
  font-size: 1.25rem;
  padding-inline: 1vw;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.25s;
}

.nav-link {
  background: rgba(179, 179, 179, 0.062);
  border: solid 2px black;
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: 0.1s;
  width: var(--nav-gap);
}

.nav-link-selected {
  background: #000000;
  transform: scale(1.2);
}

.container-button {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.contact-button {
  margin-top: -10px;
  display: flex;
  justify-content: center;
  width: 20px;
}
.line-spacer {
  height: 35vh;
  width: 0.05vw;
  margin-top: 2vh;
  background-color: black;
}

.plus-minus {
  --duration: 0.5s;
  --size: 35px;
  -webkit-appearance: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
  border: 2px solid black;
  background-size: 300% 300%;
  transition: transform 0.3s;
  transform: scale(var(--scale, 1)) translateZ(0);
  -webkit-animation: var(--name, unchecked) var(--duration) ease forwards;
  animation: var(--name, unchecked) var(--duration) ease forwards;
}

.plus-minus:before,
.plus-minus:after {
  content: "";
  position: absolute;
  width: var(--size);
  height: var(--size);
  -webkit-animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
    var(--duration) ease forwards;
  animation: var(--name-icon-b, var(--name-icon, unchecked-icon))
    var(--duration) ease forwards;
}

.plus-minus:before {
  background-image: url("../sections/res/images/uk.png");
  background-size: cover;
}

.plus-minus:after {
  background-image: url("../sections/res/images/es.png");
  background-size: cover;
  --name-icon-b: var(--name-icon-a, checked-icon);
}

.plus-minus:active {
  --scale: 0.95;
}

.plus-minus:checked {
  --name: checked;
  --name-icon-b: checked-icon;
  --name-icon-a: unchecked-icon;
}

@keyframes checked-icon {
  from {
    transform: translateZ(12px);
  }

  to {
    transform: translateX(16px) rotateY(90deg) translateZ(12px);
  }
}

@keyframes unchecked-icon {
  from {
    transform: translateX(-16px) rotateY(-90deg) translateZ(12px);
  }

  to {
    transform: translateZ(12px);
  }
}

@keyframes checked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--primary) 0%,
      var(--primary) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 100% 50%;
  }

  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--primary) 0%,
      var(--primary) 25%,
      var(--secondary) 25.1%,
      var(--secondary) 100%
    );
    background-position: 50% 50%;
  }
}

@keyframes unchecked {
  from {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--primary) 25.1%,
      var(--primary) 100%
    );
    background-position: 100% 50%;
  }

  to {
    background-image: radial-gradient(
      ellipse at center,
      var(--secondary) 0%,
      var(--secondary) 25%,
      var(--primary) 25.1%,
      var(--primary) 100%
    );
    background-position: 50% 50%;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-10%);
  }
  80% {
    transform: translateY(5%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (min-width: 850px) {
  #language {
    top: 5vh;
    left: 92vw;
    z-index: 10;
    position: fixed;
  }
  .plus-minus {
    --size: 50px;
  }
  .nav-section {
    visibility: visible;
    left: 30px;
  }
  .line-spacer {
    height: 55vh;
  }
  .nav-link:hover ~ .nav-label {
    opacity: 1;
  }
}
