#spacer {
  background-color: rgba(7, 148, 219, 255);
  border-top: 0.35vh solid black;
  height: 9.5vh;
  align-self: center;
}

/* The switch - the box around the slider */
.switch {
  /* Variables */
  --switch_width: 6vw;
  --switch_height: 6.5vh;
  --thumb_color: #e8e8e8;
  --track_color: #b4b3b3;
  --track_active_color: #a7070748;
  --outline_color: #000;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: var(--switch_width);
  height: var(--switch_height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  box-sizing: border-box;
  border: 2px solid var(--outline_color);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--track_color);
  transition: 0.15s;
  border-radius: var(--switch_height);
}

.slider:before {
  box-sizing: border-box;
  position: absolute;
  content: "Ñ";
  text-decoration: line-through;
  height: var(--switch_height);
  width: var(--switch_height);
  border: 2px solid var(--outline_color);
  border-radius: 100%;
  left: -2px;
  bottom: -2px;
  background-color: var(--thumb_color);
  transform: translateY(-0.2em);
  box-shadow: 0 0.2em 0 var(--outline_color);
  transition: 0.15s;
}

input:checked + .slider {
  background-color: var(--track_active_color);
}

input:focus-visible + .slider {
  box-shadow: 0 0 0 2px var(--track_active_color);
}

/* Raise thumb when hovered */
input:hover + .slider:before {
  transform: translateY(-0.3em);

  box-shadow: 0 0.3em 0 var(--outline_color);
}

input:checked + .slider:before {
  content: "Ñ";
  text-decoration: none;
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.2em);
}

/* Raise thumb when hovered & checked */
input:hover:checked + .slider:before {
  transform: translateX(calc(var(--switch_width) - var(--switch_height)))
    translateY(-0.3em);
  box-shadow: 0 0.3em 0 var(--outline_color);
}

#nav-language {
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  height: 400px;
  width: 10vw;
  top: 5vh;
  left: 10px;
  z-index: 1;
  flex-direction: column;
  background-color: #a52a2a;
}
.nav-link {
  padding-inline: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
}
.nav-label {
  font-size: 1.25rem;
  font-weight: 600;
  opacity: 0;
  transition: opacity 0.25s;
}
.dots {
  background-color: #ffffff;
  border: solid 2px black;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  transition: 0.25s;
  transition: transform 0.25s;
}
.dots-selected {
  background-color: transparent;
  border: 0;
  height: 15px;
  width: 15px;
}
.dots-selected::after {
  opacity: 1;
  position: relative;
  top: -14px;
  left: -6px;
  content: "\1F7AC"; /* use the hex value here... */
  font-size: 30px;
  text-align: center;
}

.dots:hover ~ .nav-label {
  opacity: 1;
}

#spacer-mid {
  height: 10vh;
  background-color: rgba(7, 148, 219, 255);
  opacity: 1;
  background-image: radial-gradient(#000000 1px, rgba(7, 148, 219, 255) 1px);
  background-size: 5px 5px;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
}
#spacer-mid-details {
  height: 5vh;
  background-color: #a52a2a;
  border-bottom: solid 2px black;
}
