/* DIVIDER */
.custom-shape-divider-top-1679633889 {
  position: absolute;

  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1679633889 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 30vh;
}

/* IMAGE HERO */
#border {
  display: flex;
  min-height: 150px;
  min-width: 75px;
  justify-content: flex-start;
  align-items: flex-start;
}

.phone-border {
  min-height: 150px;
  min-width: 75px;
  border-radius: 2.75vw;
  background-color: black;
}

.screen {
  display: flex;
  justify-content: center;
  border-radius: 2vw;
  background-color: #ffffff;
  border: 0.15vh solid #000000;
}

@media only screen and (min-width: 750px) {
  .phone-border {
    border-radius: 1.45vw;
  }

  .screen {
    background-color: #ffffff;
    border-radius: 1.5vw;
    border: 0.35vh solid #000000;
  }
}
/* LEFT SECTION  */

#details-left {
  height: 1vh;
  width: 5vw;
  margin-top: 5px;
  margin-inline: 25px;
  border-top: 1vh dotted black;
}

#details-center {
  height: 1vh;
  width: 1vh;
  border-radius: 100%;
  background-color: rgb(0, 0, 0);
}
/* RIGHT SECTION */

#details-right {
  margin-inline: auto;
  margin-top: 1px;
  height: 1.25vh;
  width: 5vw;
  border-bottom-right-radius: 1vw;
  border-bottom-left-radius: 1vw;
  background-color: rgb(0, 0, 0);
}

#svg-container {
  width: fit-content;
  gap: 20px;
  display: flex;
  justify-content: center;
}
@keyframes phone-vibrate {
  0% {
    rotate: -0.5deg;
  }
  100% {
    rotate: 0.75deg;
  }
}
/* CV */
#svg-cv {
  margin-top: 0px;
  height: 40px;
  user-select: none;
}
@media only screen and (min-width: 900px) {
  .star {
    padding-inline: 1.5vw;
  }
  #svg-container {
    gap: 40px;
  }
}

.svg-projects:hover {
  scale: 0.98;
  transition: 0.25s all;
}
.svg-projects {
  width: 235px;
  height: 136.63px;
}
@media only screen and (min-width: 700px) {
  .svg-projects {
    width: 35vw;
    height: 20vw;
  }
}
