#about {
  display: flex;

  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f3f3f3;
  opacity: 1;
  background-image: radial-gradient(#646363 0.75px, transparent 0.75px),
    radial-gradient(#646363 0.75px, #f3f3f3 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
#skill-set h2 {
  text-transform: uppercase;
  line-height: 0px;
  margin: 0px;
  color: white;
  font-size: 3.5rem;
}
#sign-road {
  margin-left: 12vw;
  width: fit-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skill-list {
  font-size: 2rem;
  color: aliceblue;
}
#skill-border {
  display: flex;
  flex-direction: column;
  padding: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 4vh;
  border: 0.45vh solid black;
  border-right: 1.5vh solid black;
}
#skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  min-height: 45vh;
  min-width: 40vw;
  padding: 2vh;
  background-color: #08843c;
  border: 0.01vw solid black;
  border-radius: 3vh;
}
#wood-container {
  display: flex;
  padding-inline: 100px;
  justify-content: center;
  gap: 15vw;
  border-bottom: outset 0.65vh rgb(34, 27, 27);
}
.wood-base {
  height: 15vh;
  width: 3vw;
  background-color: #a46532;
  border: 0.15vw solid black;
  border-right: 1vw solid black;
  border-top: 0px;
  border-bottom: 0px;
}
#about-me {
  margin-top: 30vh;
  margin-left: 10vw;
  align-self: flex-end;
  z-index: 1;
  height: 50vh;
  width: 25vw;
  border: 0.45vh solid black;
  border-right: 1.5vh solid black;
  background-color: #e7e7e7;
  margin-bottom: 5vh;
}
#about-me p {
  padding: 1vh;
  font-size: 1rem;
}
#tab-window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(143, 143, 143);
  border-bottom: 0.25vh solid black;
  width: 25vw;
  height: 6vh;
}
.tab-text {
  padding: 2vh;
  font-size: 1rem;
  font-weight: bolder;
}
