#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  opacity: 1;
  background-image: radial-gradient(#646363 0.75px, transparent 0.75px),
    radial-gradient(#646363 0.75px, #cbd6e4 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
#skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  padding: 0px;
  background-color: #08843c;
  border: 0.01vw solid black;
  border-radius: 3vh;
  transition: all 0.25s;
}
#skill-set h2 {
  user-select: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0px;
  margin-top: 5vh;
  margin-bottom: 35px;
  color: white;
  font-weight: 500;
}
#download-cv {
  margin-inline: 5vw;
  color: black;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #f5f3f3;
  border-radius: 7px;
  border: solid 2.5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0px;
  padding-inline: 10px;
  padding-block: 0.75vh;
  margin-top: 0.5vh;
  margin-bottom: 4.5vh;
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(237, 240, 86);
  transform: translateX(-100%);
  transition: all 1s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}
.skill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid rgb(255, 255, 255);
  font-size: 2rem;
  padding-inline-start: 0px;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: -10px;
  margin-bottom: 0px;
  color: aliceblue;
}
#skill-border {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 4vh;
  border: 0.25vh solid black;
  border-right: 1.5vh solid black;
}
#sign-road {
  width: fit-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wood-container {
  width: 20vw;
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
}
.wood-base {
  opacity: 0;
  background-color: #a46532;
  border: 0.15vw solid black;
  border-right: 1vw solid black;
  border-top: 0px;
}
/* ABOUT ME */
#about-me {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-left: 10vw;
  z-index: 1;
  max-width: 250px;
  transition: all 10.85s;
  margin-bottom: 5vh;
  transition: all 0.85s;
}
.about-me-xp {
  border: 3px solid #041c46;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #e7e7e7;
}
.about-me-98 {
  border: 2px solid #000000;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  background-color: #e7e7e7;
}
.about-me-ten {
  background-color: #eeeeee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#about-description {
  padding-inline: 2vh;
  line-height: 25px;

  font-size: 0.95rem;
  margin-top: 5px;
}
.text-xp {
  font-weight: 400;
  font-family: Tahoma, Arial, sans-serif;
}
.text-98 {
  font-weight: 400;
  font-family: Verdana, Arial, sans-serif;
}

.text-ten {
  font-weight: 300;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* button call to action */
#col {
  cursor: pointer;
  align-self: center;
  text-align: center;
  font-weight: 500;
  display: inline-block;
  font-size: 1.75em;
  font-weight: 400;
  margin-bottom: 10px;
}
.col-xp {
  padding: 6px 12px;
  background-color: #fffef6;
  border: 1.99px dotted #03122c;
  border-radius: 4px;
  font-family: Tahoma, Arial, sans-serif;
  color: #000000;
}

.col-xp:hover {
  background-color: #d8d8d8;
}

.col-98 {
  padding: 6px 5px;
  background-color: #c0c0c0;
  border: 2px solid #000000;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-radius: 1px;
  font-family: Verdana, Arial, sans-serif;
  color: #000000;
}
.col-98:hover {
  background-color: #e0e0e0;
  border: 2px solid #000000;
}
.col-ten {
  padding: 8px 10px;
  background-color: #dadada;
  border-radius: 1px;
  border: solid rgb(145, 145, 145) 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #000000;
  transition: all 0.85s;
}
.col-ten:hover {
  background-color: #e6e9f3;
  border: solid rgb(1, 132, 255) 1px;
}

#tab-window {
  display: flex;
  align-items: center;
  height: 6vh;
}
.tab-window-xp {
  background-color: hsla(218, 84%, 43%, 1);
  border-bottom: 2px solid #041c46;
  background: linear-gradient(
    90deg,
    hsla(218, 84%, 43%, 1) 0%,
    hsla(218, 89%, 31%, 1) 50%,
    hsla(218, 84%, 43%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(218, 84%, 43%, 1) 0%,
    hsla(218, 89%, 31%, 1) 50%,
    hsla(218, 84%, 43%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(218, 84%, 43%, 1) 0%,
    hsla(218, 89%, 31%, 1) 50%,
    hsla(218, 84%, 43%, 1) 100%
  );
}
.tab-window-98 {
  background-color: rgba(0, 0, 126, 255);
}
.tab-window-ten {
  background-color: rgb(52, 51, 59);
}

#tab-text {
  padding: 2vh;
  font-size: 1rem;
  transition: all 0.85s;
}
.tab-text-xp {
  font-weight: bolder;
  font-family: Tahoma, Arial, sans-serif;
  color: white;
}

.tab-text-98 {
  color: white;
  font-weight: bolder;
  font-family: Verdana, Arial, sans-serif;
}
.tab-text-ten {
  color: white;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.close {
  fill: white;
}

@media only screen and (min-width: 600px) {
  #skill-set {
    min-width: 450px;
    font-size: 3.25rem;
    font-weight: 400;
    letter-spacing: 10px;
  }
  #download-cv {
    font-size: 1.85rem;
    padding-inline: 1.25vw;
    gap: 40px;
    letter-spacing: 0px;
    border-radius: 0.5vw;
  }
  #about-me {
    max-width: 350px;
  }
  .about-description {
    padding-block: 0vh;
    margin-top: 6px;
    line-height: 4vh;
    padding-inline: 2.25vh;
  }
}
@media only screen and (min-width: 1100px) {
  #about {
    flex-direction: row;
    align-items: flex-start;
  }
  #sign-road {
    align-self: flex-start;
    margin-left: 12vw;
  }

  .wood-base {
    height: 11vh;
    width: 3vw;
    opacity: 1;
  }
  #skill-set {
    width: 40vw;
    letter-spacing: 20px;
  }
  #skill-set h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .skill-list {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 10px;
  }
  #about-me {
    margin-top: 35vh;
    margin-left: 10vw;
  }
}
@media only screen and (min-width: 850px) {
  #about-me {
    margin-right: 5vw;
  }
  #about-me p {
    font-size: 1.2rem;
  }
}
