#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #f3f3f3;
  opacity: 1;
  background-image: radial-gradient(#646363 0.75px, transparent 0.75px),
    radial-gradient(#646363 0.75px, #f3f3f3 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
#skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5vh;
  padding: 0px;
  background-color: #08843c;
  border: 0.01vw solid black;
  border-radius: 3vh;
  transition: all 0.25s;
}
#skill-set h2 {
  user-select: none;
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 0px;
  margin-top: 5vh;
  margin-bottom: 35px;
  color: white;
  font-weight: 500;
}
#download-cv {
  margin-inline: 5vw;
  color: black;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #f5f3f3;
  border-radius: 7px;
  border: solid 2.5px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 0px;
  padding-inline: 10px;
  padding-block: 0.75vh;
  margin-top: 0.5vh;
  margin-bottom: 4.5vh;
}
.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(237, 240, 86);
  transform: translateX(-100%);
  transition: all 1s;
  z-index: -1;
}

.btn:hover::before {
  transform: translateX(0);
}
.skill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 4px solid rgb(255, 255, 255);
  font-size: 2rem;
  padding-inline-start: 0px;
  text-transform: uppercase;
  list-style-type: none;
  margin-top: -10px;
  margin-bottom: 0px;
  color: aliceblue;
}
#skill-border {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  padding: 1vh;
  background-color: rgb(255, 255, 255);
  border-radius: 4vh;
  border: 0.25vh solid black;
  border-right: 1.5vh solid black;
}
#sign-road {
  width: fit-content;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#wood-container {
  width: 20vw;
  padding-inline: 50px;
  display: flex;
  justify-content: space-between;
}
.wood-base {
  opacity: 0;
  background-color: #a46532;
  border: 0.15vw solid black;
  border-right: 1vw solid black;
  border-top: 0px;
}
#about-me {
  margin-top: 5vh;
  margin-left: 10vw;
  z-index: 1;
  max-width: 250px;
  border: 0.15vh solid black;
  border-right: 1vh solid black;
  background-color: #e7e7e7;
  margin-bottom: 5vh;
}
#about-me p {
  padding-inline: 4vh;
  line-height: 18px;
  text-align: center;
  font-size: 1rem;
}
#tab-window {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(143, 143, 143);
  border-bottom: 0.25vh solid black;

  height: 6vh;
}
.tab-text {
  padding: 2vh;
  font-size: 1rem;
  font-weight: bolder;
}
.minimize :hover {
  fill: red;
}

.close :hover {
  fill: red;
}
@media only screen and (min-width: 600px) {
  #skill-set {
    min-width: 450px;
    font-size: 3.25rem;
    font-weight: 400;
    letter-spacing: 10px;
  }
  #download-cv {
    font-size: 1.85rem;
    padding-inline: 1.25vw;
    gap: 40px;
    letter-spacing: 0px;
    border-radius: 0.5vw;
  }
  #about-me {
    max-width: 350px;
  }
  #about-me p {
    line-height: 4vh;
  }
}
@media only screen and (min-width: 1100px) {
  #about {
    flex-direction: row;
    align-items: flex-start;
  }
  #sign-road {
    align-self: flex-start;
    margin-left: 12vw;
  }

  .wood-base {
    height: 11vh;
    width: 3vw;
    opacity: 1;
  }
  #skill-set {
    width: 40vw;
    letter-spacing: 20px;
  }
  #skill-set h2 {
    font-size: 3.5rem;
    font-weight: 700;
  }
  .skill-list {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 10px;
  }
  #about-me {
    margin-top: 25vh;
    margin-left: 10vw;
  }
}
@media only screen and (min-width: 850px) {
  #about-me {
    margin-right: 5vw;
  }
  #about-me p {
    font-size: 1.25rem;
  }
}
