#contact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 218, 5);
  margin-top: 8vh;
  border-top: 2px solid black;
  height: 30vh;
}
#svg-container {
  width: 60vw;
  gap: 25px;
  display: flex;
  justify-content: space-around;
}
.title-contact {
  padding: 0.5vh;
  user-select: none;
  font-size: 2rem;
  font-family: "Graduate", cursive;
  font-weight: 600;
  letter-spacing: 1vw;
  padding-top: 5vh;
  padding-bottom: 2.5vh;
}

.svg-item {
  transition: all 0.25s;
}
.svg-item:hover {
  rotate: 15deg;
}
