#home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: flex-start;
  gap: 2.5vw;
  max-width: 950px;
  transition: all 0.5s;
}
#decoration-description {
  margin-top: 2.5vh;
  width: 90vw;
  margin-left: 10vw;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3vh;
  align-items: flex-start;
  justify-content: center;
}

.description {
  padding-inline: 2vw;
  padding-bottom: 5.5vh;
  color: rgba(0, 0, 0, 1);
  font-size: 2.5em;
  font-weight: 200;
  line-height: 1.3em;
}
#hero {
  margin-inline: auto;
  padding: 10px;
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 25vh;
  width: 70vw;
  background-color: #b82515;
  opacity: 1;
  background: radial-gradient(
      circle,
      transparent 20%,
      #b82515 20%,
      #b82515 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #b82515 20%,
        #b82515 80%,
        transparent 80%,
        transparent
      )
      10px 10px,
    linear-gradient(#000000 0.8px, transparent 0.8px) 0 -0.4px,
    linear-gradient(90deg, #000000 0.8px, #b82515 0.8px) -0.4px 0;
  background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
  border: 0.35vh solid #000000;
  border-bottom: 0 solid rgb(0, 0, 0);
}

@media only screen and (min-width: 600px) {
  #head {
    margin-left: 5vw;
  }
}
@media only screen and (min-width: 750px) {
  #head {
    margin-left: 10vw;
  }
  #hero {
    height: 40vh;
  }
  #decoration-description {
    margin-left: 9vw;
    width: 80vw;
    justify-content: space-between;
  }
  .description {
    width: 40vw;
    font-size: 3em;
  }
}
