#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-title {
  line-height: 0.5;
  margin-bottom: 10vh;
}
#projects-container {
  padding-bottom: 1vh;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}
.project-border {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 220px;
  padding: 1px;
  background-color: brown;
  border-radius: 0.5vw;
  border: 0.2vw solid black;
}

.project-container {
  width: 200px;

  height: 200px;
  background-color: rgb(255, 255, 255);
  border: 0.2vw solid black;
  transition: 0.25s all;
}

@media only screen and (min-width: 700px) {
  #projects-container {
    column-gap: 5vw;
    row-gap: 3.5vw;
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  .project-container:hover {
    border-radius: 0.5vw;
    transform: scale(0.95);
  }
  .project-border {
    padding: 18px;
  }
}
@media only screen and (min-width: 900px) {
  .project-border {
    width: 35vw;
    height: 30vw;
  }
  .project-container {
    width: 35vw;
    height: 30vw;
  }
}
