#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-title {
  margin-top: -5vh;
  padding-bottom: 5vh;
}
#projects-container {
  display: grid;
  column-gap: 5vw;
  row-gap: 5vw;
  padding-bottom: 1vh;
  grid-template-columns: 1fr 1fr;
}
.project-border {
  display: flex;
  width: 400px;
  height: 300px;
  padding-inline: 0.75vw;
  padding-block: 1vw;
  border-radius: 0.75vw;
  background-color: brown;
  border: 0.25vw solid black;
}
.project-container {
  width: 400px;
  height: 300px;
  border-radius: 1vw;
  background-color: rgb(255, 255, 255);
  border: 0.25vw solid black;
}
