@import "react-slideshow-image/dist/styles.css";

body.active-modal {
  overflow-y: hidden;
  overflow-x: hidden;
}

.modal,
.overlay {
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(12, 27, 36, 0.829);
}
#modal-container {
  z-index: 10;
  position: absolute;
  max-height: 88vh;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  transition: all 0.15s;
}
#list-tech {
  display: flex;
  gap: 40px;
  margin: auto;
  line-height: 0px;
  padding: 0px;
  width: fit-content;
}

.modal-content {
  background: #ffffff;
  line-height: 1.4;
  padding: 14px 28px;
  width: 70vw;
  border: solid 0.45vh black;
}
.modal-content h2 {
  font-size: 1.5rem;
  line-height: 0px;
}
.modal-content ul {
  margin: 0px;
  padding-inline: 10px;
}
.modal-content p {
  font-size: 0.75rem;
  font-weight: 400;
}
.modal-content li {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1rem;
  list-style-type: none;
}
.show-tech {
  font-size: 0.75rem;
}
.show-tech img {
  height: 10px;
}
.hide-tech {
  display: none;
}
.modal-hidden {
  background: #ffffff00;
  width: 100vw;
  border: 0px;
}
.modal-hidden li,
.modal-hidden p,
.modal-hidden h2 {
  display: none;
}
.close-modal {
  z-index: 100;
  background-color: rgb(129, 151, 212);
  position: absolute;
  top: 22%;
  left: 1%;
  border-radius: 100%;
  border: 0px;
  padding: 5px 7px;
  transition: all 0.25s;
}
.close-modal:hover {
  padding: 7px 9px;
}
.close-hidden {
  visibility: hidden;
}
#img-project {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  background-size: cover;
  transition: all 0.35s;
}
.div-style {
  max-height: 255px;
  height: 16vw;
  min-height: 100px;
  width: auto;
}
.all-img {
  max-height: 900px;
  height: 25vw;
  min-height: 150px;
  width: auto;
}

@media only screen and (min-width: 500px) {
  .modal-content {
    width: 40vw;
  }
}
@media only screen and (min-width: 800px) {
  .show-tech {
    font-size: 1rem;
  }
  .show-tech img {
    height: 20px;
  }

  .modal-hidden {
    background: #ffffff00;
    width: 65vw;
    border: 0px;
  }
  .modal-content h2 {
    font-size: 2.25rem;
    line-height: 0px;
  }
  .modal-content p {
    font-size: 1rem;
    font-weight: 400;
  }
  .modal-content li {
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.25rem;
    list-style-type: none;
  }
}
